.intro {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 20px auto;
}
.intro-left {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 15px;
}
.intro-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.intro-text {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  font-size: 18px;
}

.intro-footer {
  color: #437721;
  text-align: start;
}
.intro-right {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 10px;
}

.intro-right img {
  width: 80%;
  height: auto;
}
.img-intro {
  width: 100%;
  height: auto;
  object-fit: cover;
}
